#{$all-buttons} {
  appearance: none;
  background-color: $pink;
  box-shadow: 0 100px 100px -100px $orange inset;
  border: 0;
  border-radius: $base-border-radius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: all $base-timing $base-duration;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: $orange;
    box-shadow: 0 100px 100px -100px $pink inset;
    color: $white;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      @include linear-gradient(to top, $pink, $orange);
    }
  }
}
