.top-bar {
  background-color: $base-background-color;
  height: 50px;
  padding-top: modular-scale(-2);
  text-align: center;
  width: 100%;

  h5 {
    margin-top: modular-scale(-2);
  }
}

.logo-icon {
  left: modular-scale(0);
  height: 50px;
  position: absolute;
  top: 1px;
  width: 50px;
}

.inner-wrapper {
  @include outer-container;
  @include span-columns(6);
  @include shift(3);
}

@media(max-width: 600px) {
  .inner-wrapper {
    width: 90%;
    margin: 0 auto;
    float: none;
  }
}

.playlist-container {
  @include background(linear-gradient($base-background-color, hsla(0, 100%, 100%, 0)));
  padding: modular-scale(-2) 0 modular-scale(2) 0;
}

.player-container {
  margin: modular-scale(0) 0 modular-scale(1) 0;
}

@media(max-width: 600px) {
  .playlist-container {
    font-size: .9em;
  }
}

.player {
  background-color: $orange;
  border-radius: 50px;
  display: block;
  height: 60px;
  margin: 0 auto;
  width: 60px;

  .js-button {
    path {
      fill: $white;
    }
  }
}

@media(max-width: 600px) {
  .player {
    display: none;
  }
}


.search-bar-container {
  position: relative;

  .search-icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.track-container {
  display: flex;
  margin-top: modular-scale(2);
  margin-bottom: modular-scale(1);
  position: relative;

  img {
    width: 70px;
  }

  &.playing::before {
    content: '';
    background-image: image-url('audio.svg');
    position: absolute;
    top: 15px;
    left: -49px;
    width: 27px;
    height: 40px;
    z-index: 2;
  }
}

.track-info-container {
  padding-left: modular-scale(0);

  h5 {
    margin-bottom: 0.4em;
  }

  p {
    margin-bottom: 0;
  }
}

.vote-container {
  display: flex;
  margin-left: auto;
}

.like-vote-container,
.dislike-vote-container {
  cursor: pointer;

  svg {
    width: 90%;
    height: 90%;
    margin: 5% auto;
  }
}

.like-vote-container {
  margin-right: 15px;
}

.like-vote-container.voted path {
  fill: rgb(255, 73, 39);
}

.dislike-vote-container.voted path {
  fill: #fff;
}
