#searchbox {
  margin-bottom: 2px;
}

.search-results-container {
  background-color: #fff;
  border-radius: $base-border-radius;
  max-height: 400px;
  overflow-y: scroll;
  width: 100%;
}

.search-result {
  @include outer-container;

  height: 92px;
  padding: 0.5em;

  .image {
    @include span-columns(2);

    text-align: center;

    img {
      width: 70px;
    }
  }

  .informations {
    @include span-columns(10);

    .title {
      color: #444;
      display: block;
      width: 100%;
    }

    .artist {
      color: #888;
    }

    .provider {
      color: #555;
      font-size: 0.8em;
      float: right;
      background-color: #dedede;
      padding: 0.1em 0.3em;
      border-radius: 3px;
    }
  }

  &:hover {
    background-color: #efefef;
    cursor: pointer;
  }

  &.hover {
    background-color: #efefef;
  }
}

